{
    "CF_API_TOKEN": "cloudflare_api_token",
    "RECORDS": [
        { "domain": "example.com", "record": "wanip.example.com"},
        { "domain": "example.com", "record": "example.com"}
    ],
    "TIME_TO_NOTIFY": 604800,
    "SENDFROM": "dnsmonitor@example.com",
    "SENDTO": "user@example.com"
}